################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AbonnentCompany/Resources
/.vs/Abonnet/v15/Server/sqlite3
/.vs/Abonnet/v15
